@import 'reset';
@import 'webgl';



body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: #212121;
    color: #fff;
    overflow: hidden;
}

h3 {
    font-size: 3rem;
}

footer {
    width: auto;
    height: auto;
    position: fixed;
    inset: auto 0 0 auto;
    padding: 30px;
}